<link href="/MascotaFront/FrontendMascotas/src/app/plantilla/inicio/inicio.component.css" rel="stylesheet">
<div class="contenedor">
    <h3 style="text-align: center;">
        Bienvenido a Mascota feliz 
    </h3>
    <form>
        <div>
          <input type="email" name="email" placeholder="Email">
        </div>
        <div>
          <input type="password" name="password" placeholder="Contrasena">
        </div>
        <div>
          <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
        
       </form>
</div>