<body>
    <table class="table">
        <tr>
            <th>Nombre</th>
            <th>Color</th>
            <th>Especie</th>
            <th>Raza</th>
        </tr>
     
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            
                <td>
                    <a>
                        Detalle Mascota
                    </a>
                </td>
                <td>
                    <a  >
                        Editar Mascota
                    </a>
                </td>
    
            </tr>
       
    </table>
</body>